.light_off_on {
    background-image: url(./luci\ spente.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: black;
}